body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/* General Rules  */

/* Navigation Bar  */

.nav-tnw {
  display: inline-flex;
}

.nav-tnw li {
  padding-right: 0.8em;
}

.top-header-navbar {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding-left: 2rem;
  height: 2rem;
  align-items: center;
}

.top-header-navbar a {
  text-decoration: none;
  color: white;
}

.nav-logo {
  display: none;
  background-color: red;
}

.right-list {
  display: block;
  float: right;
  width: 20%;
}

.nav-company li {
  padding-right: 2vh;
}

.nav-company {
  display: flex;
}

.nav-sections {
  display: flex;
  justify-content: space-between;
}

.search-icon {
  width: 5vh;
  margin-right: 5vh;
}

.search-icon-div {
  display: inline-block;
}

.nav-section-div {
  width: 30%;
  display: inline-block;
}

.nav-message-answers {
  background-color: #fd3;
  display: flex;
  align-items: center;
}

.nav-message-content {
  font-size: 0.8rem;
  padding: 0.5em 0 0.5em 2rem;
}

.second-header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  height: 3em;
}

.second-header-navbar a {
  text-decoration: none;
  color: #555;
  font-family: "Ropa Sans", sans-serif;
}

.second-header-navbar button {
  height: 100%;
  background-color: white;
  width: 5%;
  border-style: none;
  border-left: 1px solid #eee;
  text-align: center;
}

.fa-search {
  padding-right: 2em;
}

/* Start Main Articles Section  */
.main-articles-div {
  display: grid;
  grid-template-columns: 65% auto;
  grid-gap: 1vh;
  grid-template-rows: auto auto;
  height: 66vh;
  margin: 1vh;
}

.main-article-left {
  grid-column: 1 / 1;
  grid-row: 1/3;
  background-image: url("../imgs/main-article-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-article-right-one {
  grid-column: 2 / 2;
  background-color: red;
  background-image: url("../imgs/main-article-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-article-right-two {
  grid-column: 2 / 2;
  background-color: blue;
  background-image: url("../imgs/main-article-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-article-created_at {
  float: right;
  display: block;
  margin-right: 2%;
  margin-top: 1.5%;
  font-size: 14px;
  color: #fff;
}

.cover-section {
  margin: 0.1vw 0.1px 1vw 1vw;
  display: inline-block;
  color: #fff;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.cover-title {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 3vw;
  font-weight: bolder;
  margin: 0.1px 0.1px 3% 1%;
  max-width: 60vw;
}

.story-title a {
  text-decoration: none;
  color: #000;
  font-size: 1vw;
}

.story-byline a {
  text-decoration: none;
  color: #555;
}

.cover-byline {
  display: flex;
  margin: 0.1vw 0.1vw 0.1vw 1vw;
  color: white;
}

.cover-byline li {
  padding-right: 1rem;
  color: #fff;
  font-size: 1vw;
}

.cover-byline li a {
  color: #fff;
  text-decoration: none;
}

.cover-title-right {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 2vw;
  max-width: 30vw;
  font-weight: bolder;
  margin: 1vw 0.1px 1.5vw 1vw;
}

.article-info {
  position: absolute;
  bottom: 25%;
}

.article-info-side1 {
  position: absolute;
  bottom: 56.5%;
}

.article-info-side2 {
  position: absolute;
  bottom: 22.5%;
}

/* Latest news */

.latest-news-container {
  margin: 20vh auto 0 auto;
  width: 65%;
}

.latest-news-flex {
  display: flex;
  width: 100%;
  font-size: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.latest-news-flex ul {
  padding: 5px 0 0 0;
  font-size: 0.9rem;
}

.lat-new-art {
  width: 24%;
  margin-top: 2vw;
}

.story-byline li {
  list-style: none;
  display: inline;
  color: #555;
  font-size: 0.8vw;
}

.latest-news-img {
  width: 100%;
}

.section-title {
  color: #f42;
  font-size: 1.5vw;
  display: block;
  font-weight: bold;
  margin: 0;
}

.story-title {
  margin: 0.5vw 0.1px 0.5vw 0.1px;
  font-weight: bold;
  font-size: 1rem;
}

/* Media Queries  */

@media (max-width: 670px) {
  .main-articles-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .cover-section {
    margin: 28% 0.1px 1% 1%;
    font-size: 2.5vw;
  }

  .cover-title {
    font-size: 4vw;
    max-width: 90vw;
  }

  .cover-byline li {
    font-size: 1.5vw;
  }

  .main-article-created_at {
    display: none;
  }

  .main-article-left,
  .main-article-right-one,
  .main-article-right-two {
    height: 32.5%;
  }

  .article-info {
    position: absolute;
    bottom: 57%;
  }

  .article-info-side1 {
    position: absolute;
    bottom: -12%;
  }

  .article-info-side2 {
    position: absolute;
    bottom: 22.5%;
  }

  .cover-title-right {
    font-size: 4vw;
    max-width: 90vw;
  }

  /* // handle other articles section  */

  .latest-news-flex {
    flex-direction: column;
  }

  .lat-new-art {
    width: 100%;
  }
}

.microsoft-surface-container {
  margin: 20vh auto 0 auto;
  width: 65%;
}
