body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/* General Rules  */

/* Navigation Bar  */

.nav-tnw {
  display: inline-flex;
}

.nav-tnw li {
  padding-right: 0.8em;
}

.top-header-navbar {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding-left: 2rem;
  height: 2rem;
  align-items: center;
}

.top-header-navbar a {
  text-decoration: none;
  color: white;
}

.nav-logo {
  display: none;
  background-color: red;
}

.right-list {
  display: block;
  float: right;
  width: 20%;
  margin: auto 8vh;
}

.nav-company li {
  padding-right: 2vh;
}

.nav-company {
  display: flex;
}

.nav-sections {
  display: flex;
  justify-content: space-between;
}

.search-icon {
  width: 5vh;
  margin-right: 5vh;
}

.search-icon-div {
  display: inline-block;
}

.nav-section-div {
  width: 30%;
  display: inline-block;
}

.nav-message-answers {
  background-color: #fd3;
  display: flex;
  align-items: center;
}

.nav-message-content {
  font-size: 0.8rem;
  padding: 0.5em 0 0.5em 2rem;
}

.second-header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  height: 3em;
}

.second-header-navbar a {
  text-decoration: none;
  color: #555;
  font-family: "Ropa Sans", sans-serif;
}

.second-header-navbar button {
  height: 100%;
  background-color: white;
  width: 5%;
  border-style: none;
  border-left: 1px solid #eee;
  text-align: center;
}

.fa-search {
  padding-right: 2em;
}

/* Start Main Articles Section  */
.main-articles-div {
  display: grid;
  grid-template-columns: 65% auto;
  grid-gap: 1vh;
  grid-template-rows: auto auto;
  height: 66vh;
  margin: 1vh;
}

.main-article-left {
  grid-column: 1 / 1;
  grid-row: 1/3;
  background-image: url("../imgs/main-article-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-article-right-one {
  grid-column: 2 / 2;
  background-color: red;
  background-image: url("../imgs/main-article-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-article-right-two {
  grid-column: 2 / 2;
  background-color: blue;
  background-image: url("../imgs/main-article-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-article-created_at {
  float: right;
  display: block;
  margin-right: 2%;
  margin-top: 1.5%;
  font-size: 14px;
  color: #fff;
}

.cover-section {
  margin: 0.1vw 0.1px 1vw 1vw;
  display: inline-block;
  color: #fff;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.cover-title {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 3vw;
  font-weight: bolder;
  margin: 0.1px 0.1px 3% 1%;
  max-width: 60vw;
}

/* funds story  */
.story-investmentCard-company-image {
  width: 15%;
  position: absolute;
  top: 5px;
  left: 22px;
}

.fund-story {
  width: 25%;
  position: relative;
}

.fund-story-paragraph {
  width: 60%;
  margin: auto;
  font-size: 1rem;
  padding-top: 3vh;
  line-height: 4vh;
}

.investmentCard-name {
  font-size: 1.5rem;
  text-align: center;
  background: red;
  color: white;
  padding: 1vh 15vh 0 0;
  font-weight: bold;
}

.story-investmentCard-deets {
  background-color: #fee9e5;
}

.story-investmentCard-deets h4 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding: 1vh 15vh 0 0;
}

.story-investmentCard-deets h5 {
  font-size: 1rem;
  color: #7f7472;
  text-align: center;
  padding: 1vh 10vh 0 0;
  text-transform: uppercase;
}

.saas-icon-div span,
.Salesforce-div span {
  display: inline-block;
  font-size: 1rem;
  color: #555;
  padding-left: 2vh;
  margin-top: 2vh;
}

.story-investmentCard-card {
  padding-bottom: 2vh;
  border-bottom: 1px solid #fdc5bc;
}

.story-title a {
  text-decoration: none;
  color: #000;
  font-size: 1vw;
}

.story-byline a {
  text-decoration: none;
  color: #555;
}

.cover-byline {
  display: flex;
  margin: 0.1vw 0.1vw 0.1vw 1vw;
  color: white;
}

.cover-byline li {
  padding-right: 1rem;
  color: #fff;
  font-size: 1vw;
}

.cover-byline li a {
  color: #fff;
  text-decoration: none;
}

.cover-title-right {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 2vw;
  max-width: 30vw;
  font-weight: bolder;
  margin: 1vw 0.1px 1.5vw 1vw;
}

.article-info {
  position: absolute;
  bottom: 25%;
}

.article-info-side1 {
  position: absolute;
  bottom: 56.5%;
}

.article-info-side2 {
  position: absolute;
  bottom: 22.5%;
}

/* Latest news */

.middle-articles-section {
  margin: 5% auto 0 auto;
  width: 90%;
}

.latest-news-flex {
  display: flex;
  width: 100%;
  margin-top: 5vh;
  font-size: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.latest-news-flex ul {
  padding: 5px 0 0 0;
  font-size: 0.9rem;
}

.lat-new-art {
  width: 24%;
  margin-top: 2vw;
}

.story-byline li {
  list-style: none;
  display: inline;
  color: #555;
  font-size: 0.8vw;
}

.latest-news-img {
  width: 100%;
}

.section-title {
  color: #f42;
  font-size: 1.5vw;
  display: inline-block;
  font-weight: bold;
  margin: 0;
}

.story-title {
  margin: 0 0.1px 0.5vw 0.1px;
  font-weight: bold;
  font-size: 1rem;
}

.latest-funding-item {
  margin-left: 1.5vh;
  padding-left: 5px;
  border-left: 1px solid red;
  color: #f42;
  font-size: 1.1rem;
}

.latest-funding-list {
  display: flex;
  float: right;
}

/* Recent news by category */

.recent-category-container {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
}

.main-category-img {
  width: 100%;
}

.category-item {
  width: 32%;
  margin: 1vh auto 5vh 2vh;
}

.category-one {
  background:
    url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F10%2Fworkingontech.jpg&signature=c078492c41d6c7807db1059e8d78dc3d")
    no-repeat;
  background-size: 100% 100%;
}

.category-title {
  font-size: 2rem;
  color: red;
  margin-bottom: 1vh;
  font-weight: bold;
}

.latest-category-img {
  width: 40%;
  float: right;
  display: block;
}

.category-latest {
  display: inline-block;
  height: 11vh;
  background-color: #fff2f0;
}

.section-popular-section {
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 3vh;
}

.section-popular-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 3vh;
  display: block;
  text-decoration: none;
}

.article-header {
  vertical-align: baseline;
  padding-top: 25%;
  max-width: 90%;
  padding-bottom: 2vh;
  margin: auto auto 0.5vh auto;
}

.section-popular-byline {
  display: flex;
}

.latest-info {
  display: inline-block;
  padding-left: 1vh;
}

.latest-word {
  color: red;
  font-weight: bold;
  display: block;
}

.latest-info-tittle {
  max-width: 23vh;
  display: inline-block;
  color: red;
  font-weight: bold;
}

.category-articles-li {
  text-decoration: none;
  list-style-type: circle;
  padding-bottom: 1.5vh;
  margin-bottom: 0.5rem;
  border-bottom: 0.2px solid #eee;
  color: #555;
}

/* Handles footer */

.social-media-footer {
  background-color: gray;
  text-align: center;
  height: 10rem;
}

.footer-links-social li {
  display: inline;
  border-radius: 50%;
  background-color: red;
}

.footer-links-menu li {
  display: inline;
}

.copyrights {
  color: white;
  background-color: #000;
  height: 5rem;
  text-align: center;
}

/* Media Queries  */

@media (max-width: 670px) {
  .main-articles-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .cover-section {
    margin: 28% 0.1px 1% 1%;
    font-size: 2.5vw;
  }

  .cover-title {
    font-size: 4vw;
    max-width: 90vw;
  }

  .category-articles-li a {
    text-decoration: none;
    color: #555;
  }

  .cover-byline li {
    font-size: 1.5vw;
  }

  .main-article-created_at {
    display: none;
  }

  .main-article-left,
  .main-article-right-one,
  .main-article-right-two {
    height: 32.5%;
  }

  .article-info {
    position: absolute;
    bottom: 57%;
  }

  .article-info-side1 {
    position: absolute;
    bottom: -12%;
  }

  .article-info-side2 {
    position: absolute;
    bottom: 22.5%;
  }

  .cover-title-right {
    font-size: 4vw;
    max-width: 90vw;
  }

  /* // handle other articles section  */

  .latest-news-flex {
    flex-direction: column;
  }

  .lat-new-art {
    width: 100%;
  }
}
